<!DOCTYPE html>
  <html>
    <head>
     
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <link href="css/estilos.css" rel="stylesheet" type="text/css"> 

      
              

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


      <br>
      <br>
      <br>
      <br>
      <div class="row">

        <div class="col s5"></div>

        <div class="col s2 center-align">

          <img src="images/logo.png" class="responsive-img center-align">
          

        </div>

        <div class="col s5"></div>

      </div>


      <div class="row center-align">

        <div class="col s5"></div>

        <form class="col s2" action="/login" method="POST">


          <div class="row">

            <div class="input-field">
              <input id="user" type="text" class="center-align" name="usuario">
              <label for="user">USUARIO</label>
            </div>

          </div>
          <div class="row">

            <div class="input-field">
              <input id="password" type="password" class="center-align" name="contraseña">
              <label for="password">CONTRASEÑA</label>
            </div>

          </div>
          <button class="waves-effect waves-light btn" type="submit">ENTRAR</button>
        </form>

        <div class="col s5"></div>

      </div>


    </body>

  </html>