<!DOCTYPE html>
  <html>
    <head>
     
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      
      <link href="css/estilos.css" rel="stylesheet" type="text/css">

      
              

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    


      <div class="row">

        <div class="col s3"></div>

        <div class="col s6 center-align">

          <img src="images/logo.png" class="responsive-img center-align">
          <h3 name="<%= elem.usuario %>">
             ¡Hola! <%= elem.usuario %>
          </h3>

        </div>

        <div class="col s2 right-align">
          <br>
          <a class="btn-floating btn-large"><i class="large material-icons">close</i></a>
        </div>

        <div class="col s1"></div>

      </div>

      <div class="row">

        <div class="col s1">
          
        </div>

        <div class="col s6">

          <h5>CUENTAS PROPIAS</h5>
          <table class="bordered">
            <thead>
              <tr>
                  <th>TIPO</th>
                  <th class="right-align"></th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Corriente</td>
                <td class="right-align"> <%= elem.saldoCt %></td>
                <td class="right-align"><a class="btn-floating btn-tiny"><i class="material-icons tiny">search</i></a></td>
              </tr>
              <tr>
                <td>Ahorro</td>
                <td class="right-align"> <%= elem.saldoAh %></td>
                <td class="right-align"><a class="btn-floating btn-tiny"><i class="material-icons tiny">search</i></a></td>
              </tr>
              <tr class="totales">
                <td>TOTAL</td>
                <td class="right-align"><%= elem.saldoAh + elem.saldoCt %></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <hr>

          <h5>TARJETA DE CREDITO</h5>
          <table class="bordered">
            <thead>
              <tr>
                  <th >TARJETA</th>                  
                  <th class="right-align">LIMITE</th>
                  <th class="right-align">SALDO</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= elem.numTar %></td>
                <td class="right-align"><%= elem.limiteTar %></td>
                <td class="right-align"><%= elem.saldoTar %></td>
                <td class="right-align"><a class="btn-floating btn-tiny"><i class="material-icons tiny">search</i></a></td>
              </tr>
            </tbody>
          </table>

          <hr>

          <h5>FACTURAS A COBRAR</h5>
          <table class="bordered">
            <thead>
              <tr>
                  <th>FACTURA</th>
                  <th>EMISOR</th>
                  <th>CONCEPTO</th>
                  <th>ESTADO</th>
                  <th class="right-align">MONTO</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>NUMERO_FACTURA</td>
                <td>EMISOR_FACTURA</td>
                <td>CONCEPTO_FACTURA</td>
                <td>ESTADO_FACTURA</td>
                <td class="right-align">MONTO_FACTURA</td>
              </tr>
            </tbody>
          </table>

          <h5>FACTURAS A PAGAR</h5>
          <table class="bordered">
            <thead>
              <tr>
                  <th>FACTURA</th>
                  <th>EMISOR</th>
                  <th>CONCEPTO</th>
                  <th>ESTADO</th>
                  <th class="right-align">MONTO</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>NUMERO_FACTURA</td>
                <td>EMISOR_FACTURA</td>
                <td>CONCEPTO_FACTURA</td>
                <td>ESTADO_FACTURA</td>
                <td class="right-align">MONTO_FACTURA</td>
              </tr>
            </tbody>
          </table>

        </div>

             

        <div class="col s4"> 
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">TRANSFERENCIAS</div>
              <div class="collapsible-body">
                <div class="row">
                  <form class="col s12" action="/api/op" method="POST">

                    <input type="text" name="tipo" value="transferencia" hidden="true">
                    <input type="text" name="idOrigen" value="<%= elem.usuario %>" hidden="true">

                    <div class="row">

                      <select name="tipoOrigen">
                        <option value="" selected>ORIGEN</option>
                        <option value="ct">Corriente <%= elem.saldoCt %> Bs.</option>
                        <option value="ah">Ahorro <%= elem.saldoAh %> Bs.</option>
                      </select>
                      

                    </div>
                    <div class="row">

                      <div class="input-field col s6">
                        <input id="destino" type="text" class="center-align" name="idDestino">
                        <label for="destino">USUARIO DESTINO</label>
                      </div>
                      
                      <div class="input-field col s6">
                        <select name="tipoDestino">
                          <option value="" selected>CUENTA</option>
                          <option value="ct">Corriente</option>
                          <option value="ah">Ahorro </option>
                        </select>
                      </div>

                    </div>
                    <div class="row">

                      <div class="input-field">
                        <input id="concepto" type="text" class="center-align" name="concepto">
                        <label for="concepto">CONCEPTO</label>
                      </div>

                    </div>
                    <div class="row">

                      <div class="input-field">
                        <input id="monto" type="number" step="0.01" class="center-align" name="monto">
                        <label for="monto">MONTO</label>
                      </div>

                    </div>
                    <button class="waves-effect waves-light btn" type="submit">TRANSFERIR</button>
                    
                  </form>
                </div>                
              </div>
            </li>
            <li>
              <div class="collapsible-header">PAGAR TARJETA DE CREDITO</div>
              <div class="collapsible-body">

                <div class="row">
                  <form class="col s12" action="/api/op" method="POST">

                    <input type="text" name="tipo" value="pagoTarjeta" hidden="true">
                    <input type="text" name="idOrigen" value="<%= elem.usuario %>" hidden="true">

                    <div class="row">

                      <select>
                        <option value="" selected>A DEBITAR</option>
                        <option value="ct">Corriente <%= elem.saldoCt %> Bs.</option>
                        <option value="ah">Ahorro <%= elem.saldoAh %> Bs.</option>
                      </select>

                    </div>
                    <div class="row">

                      <select>
                        <option value="" selected>TARJETA <%= elem.numTar %></option>
                      </select>

                    </div>
                    <div class="row">

                      <div class="input-field">
                        <input id="monto" type="text" class="center-align" name="monto">
                        <label for="monto">MONTO</label>
                      </div>

                    </div>
                    <button class="waves-effect waves-light btn modal-trigger" type="submit" disabled>PAGAR</button>
                    
                  </form>
                </div>
                                
              
              </div>
            </li>
            <li>
              <div class="collapsible-header">PAGAR FACTURA</div>
              <div class="collapsible-body">

                <div class="row">
                  <form class="col s12" action="/api/op" method="POST">

                    <input type="text" name="tipo" value="pagoFactura" hidden="true">
                    <input type="text" name="idOrigen" value="<%= elem.usuario %>" hidden="true">

                    <div class="row">

                      <select name="tipoOrigen">
                        <option value="" selected>ORIGEN</option>
                        <option value="ct">Corriente <%= elem.saldoCt %> Bs.</option>
                        <option value="ah">Ahorro <%= elem.saldoAh %> Bs.</option>
                      </select>
                      

                    </div>
                    <div class="row">

                      <select name="facturaAPagar">
                        <option value="" selected>FACTURA</option>
                        <option value="000001 Emisor 01 70.000,00 Bs.">000001 Emisor 01 70.000,00 Bs.</option>
                      </select>
                      

                    </div>
                    <button class="waves-effect waves-light btn modal-trigger" type="submit" disabled>PAGAR</button>
                    
                  </form>
                </div>
                                
              
              </div>
            </li>
            <li>
              <div class="collapsible-header">CAMBIAR CONTRASEÑA</div>
              <div class="collapsible-body">
                <div class="row">
                  <form class="col s12">

                    <div class="row">

                      <div class="input-field">
                        <input id="password" type="password" class="center-align">
                        <label for="password">NUEVA CONTRASEÑA</label>
                      </div>

                    </div>
                    <div class="row">

                      <div class="input-field">
                        <input id="password" type="password" class="center-align">
                        <label for="password">CONFIRMAR CONTRASEÑA</label>
                      </div>

                    </div>
                    <a class="waves-effect waves-light btn" disabled>CAMBIAR</a>
                  </form>
                </div>               

              </div>
            </li>
            

          </ul>
        </div>

        <div class="col s1">
          
        </div> 

      </div>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>TRANSFERENCIA EXITOSA</h4>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">ENTENDIDO</a>
        </div>
      </div>


    </body>
    <script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();
        $('.modal').modal();
      });
    </script>
  </html>